body {
    background-color: palegoldenrod;
}
h1 {
    background-color: palevioletred;
}
p {
    background-color: peru;
}
h2 {
    background-color: purple;
}
ol {
    background-color: sandybrown;
}
h2 + p {
    background-color: seagreen;
}
.item1 {
    color: palevioletred;
}
.item2 {
    color: greenyellow
}
.item3 {
    color: grey
}
.item4 {
    color: goldenrod
}
.item5 {
    color:seagreen
}